@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');



* {
    box-sizing: border-box;
}



body {

    margin: 0;
    font-family: 'Inter Tight', sans-serif;
    background-color: #f39c12;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    gap: 30px;
}

.container .counter-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 25px;
}

.container .counter-container i {
    font-size: 45px;
    margin-bottom: 10px;
    color: #c0392b;
}

.container .counter-container .counter,
.container .counter-container span {
    font-weight: bold;
    color: #fff;
    letter-spacing: 2.8px;
}

@media only screen and (max-width: 768px) {
    body {
        padding: 60px 0;
    }

    .container {
        flex-direction: column;
    }
}