@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #F8EFBA;
    font-family: 'Inter Tight', sans-serif;

}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container #buttons .btn {
    font-family: inherit;
    border: none;
    background-color: #FC427B;
    color: #fff;
    padding: 1rem 3rem;
    text-transform: capitalize;
    margin: 1rem;
    font-size: 16px;
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
}